.mainHome {
  max-width: 1240px;
  margin-left: 15rem;
}

.titleHome {
  margin: 4rem 0rem;
}

.linkHome {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  color: red;
}

.userName {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
