.wrapperKey {
  display: flex;
  padding: 2em;
  height: 124px;
  background: #fbfbfb;
  border-radius: 5px;
}

@media (min-width: 1025px) {
  .wrapperKey {
    width: 258px;
  }
}

@media (min-width: 1024px) {
  .wrapperKey {
    width: 220px;
  }
}

.infos {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.infos-data {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #282d30;
  margin-bottom: 2px;
}

.infos-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #74798c;
}
