.headUserInfo {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 18px;
}

.titleUserInfo {
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 40px;
}

.nameUserInfo {
  color: #ff0000;
}

@media (max-width: 1024px) {
  .titleUserInfo {
    font-size: 36px;
  }
}
