.nutrientCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 258px;
  height: 124px;
  border-radius: 5px;
  background-color: #fbfbfb;
}

.nutrientCard img {
  margin-left: 20px;
}

.nutrientCard div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.nutrientCard div p {
  color: #282d30;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.nutrientCard div span {
  color: #7479bc;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

/* =========================================================================================== */
@media screen and (max-width: 1270px) {
  .nutrientCard {
    width: 224px;
    height: 108px;
  }

  .nutrientCard img {
    margin-left: 15px;
  }

  .nutrientCard div {
    margin-left: 15px;
  }
}
