.performanceChartContainer {
  width: 258px;
  height: 263px;
  background-color: #282d30;
  border-radius: 5px;
  position: relative;
}

/* =========================================================================================== */
@media screen and (max-width: 1270px) {
  .performanceChartContainer {
    width: 172px;
    height: 175px;
  }
}
