.sidebarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #020203;
  margin: 0;
  width: 117px;
  min-height: 685px;
  z-index: 10;
}

.sidebarIcons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #020203;
}

.sidebarIcons img {
  width: 64px;
  height: 64px;
  margin: 10px;
  border-radius: 6px;
}

.sidebarIcons img:hover {
  cursor: pointer;
}

.sidebarRights {
  font-size: 0.75rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: white;
  position: absolute;
  bottom: 25px;
  align-self: center;
}

@media screen and (min-width: 1023px) and (max-width: 1400px) {
  .sidebarContainer {
    height: 140vh;
  }
  .sidebarRights {
    bottom: -45%;
  }
}

@media screen and (min-width: 1401px) {
  .sidebarContainer {
    height: 110vh;
  }
  .sidebarRights {
    bottom: -10%;
  }
}
